/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --corPrincipal: #124559;
    --corHover: #123745;
    --corActive: #0B222B;
    --corPrincipalClara: #1D6987;
    --corPrincipalMaisClara: #2B8EB5;
    --corBg: #fff;
    --corBg2: #F2F7F9;
}

body {
  height: 100vh;
  background: var(--corBg);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    z-index: 100;
    background: linear-gradient(39deg, rgba(11,34,43,1) 0%, rgba(18,69,89,1) 35%, rgba(29,105,135,1) 100%);
    transition: all .2s ease;
}

.sidebar.closed {
    width: 100px;
}

.sidebar.closed .text {
    opacity: 0;
    pointer-events: none;
}

.sidebar.closed .logotipo {
    display: none;
}

.sidebar.closed .nav-icon {
    min-width: 80px;
}

.sidebar.closed .icon-logo {
    display: flex;
    align-items: center;
    padding: 0;
    width: 60px;
    height: 50px;
    pointer-events: none;
    font-size: 30px;
    margin-top: 8px;
}

.sidebar.closed li {
    padding: 10%;
}

.sidebar.closed .icon-logo {
    margin-left: 15%;
    margin-top: 18%;
}

.sidebar.closed .logotipo {
    opacity: 0;
}

.sidebar.closed header .toggle {
    right: -15%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
}

header {
    width: 100%;
    height: 10%;
}

.panel-logo {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 4%;
    margin-top: 3%;
}

.icon-logo {
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .panel-logo .logotipo {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 800;
    color: var(--corBg);
    transition: all 1s ease;
}

.sidebar header .toggle {
    position: absolute;
    top: 5%;
    right: -5%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    transform: translateY(-50%) rotate(180deg);
    background: var(--corPrincipalMaisClara);
    color: var(--corBg);
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease;
}

.toggle-icon {
    width: 15px;
    height: 15px;
}

.fa-chevron-right {
    font-size: 12px;
}

.sidebar li {
    padding: 4%;
    height: 60px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li a {
    font-size: 22px;
    height: 100%;
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--corBg);
    text-decoration: none;
    border-radius: 10px;
    transition: all .2s ease-in;

    &:hover {
        background: var(--corBg);
        color: var(--corPrincipal);
        border-radius: 10px;
        
    }
}

.sidebar li a.active {
    background: var(--corBg);
    color: var(--corPrincipal);
    pointer-events: none;
}


.sidebar li .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar .nav-text {
    margin-left: 10px;
}

.sidebar .menu-bar {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    position: relative;
    left: 230px;
    height: 100vh;
    width: calc(100% - 230px);
    transition: all .4s ease;
}

.sidebar.closed ~ .main {
    left: 90px;
    width: calc(100% - 90px);
}

/* ----- CONFIGURANDO OS TOOLTIPS ---- */

.nav-link {
    position: relative; 
}

.nav-tooltip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    background-color: rgba(12, 12, 12, 0.9);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, right 0.3s ease;
    pointer-events: none;
    letter-spacing: 0.5px;
    z-index: 300;
    white-space: nowrap;

    /* Adicione um recuo fixo à direita */
    right: -130px;
}

.nav-tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgba(12, 12, 12, 0.9);
    transform: rotate(45deg);
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.sidebar.closed .nav-link:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto;
}

/* Espaçamento à direita dos itens do menu para acomodar os tooltips */
.nav-link {
    padding-right: 100px; /* Adicione o espaçamento necessário */
}
