@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --corPrincipal: #124559;
    --corHover: #123745;
    --corActive: #0B222B;
    --corPrincipalClara: #1D6987;
    --corPrincipalMaisClara: #2B8EB5;
    --corBg: #fff;
    --corBg2: #F2F7F9;
}

body {
  height: 100vh;
  background: var(--corBg);
  overflow-x: hidden;
}

.container-inventario {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 3%; 
    padding-right: 1%;
    background-color: var(--corBg);
    color: var(--corPrincipal);
    margin: 0 auto; 
    align-items: flex-start;
    justify-content: flex-start;
}

.vertical-nav-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: -1%;
}


.nav-vertical {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.nav-i-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 230px;
    height: 32px;
    border-radius: 30px;
    background: var(--corBg);
    border: 2px solid var(--corPrincipal);
    color: var(--corPrincipal);
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background: var(--corBg2);
    }

    &:active {
        background: var(--corPrincipal);
        color: var(--corBg);
    }
}
  
  .nav-i-item.active {
    background-color:var(--corPrincipal);
    color: #fff;
    
  }

.container-inventario .panel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: var(--corBg2);
    border-radius: 10px;
    margin-bottom: 2rem;
    flex-grow: 1; 
    margin-top: 1%;
}



.top-panel-content {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    height: 2rem;
    gap: 0;
    border: 1px solid var(--corPrincipal);
    background: var(--corBg);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.campotxt-sb {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 2%;
    padding-left: 4%;
    width: 24.5vw;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 100%;
    font-size: 18px;
    padding: 2%;
    padding-right: 5%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--corPrincipal);
    transition: all .3s ease;

    &:hover {
        color: var(--corHover);
        transform: translateX(-2px);
    }

    &:active {
        color: var(--corActive);
    }
}

.btns-panel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: var(--corPrincipal);
    border: none;
    color: var(--corBg);
    cursor: pointer;

    &:hover {
        background: var(--corHover);
    }

    &:active {
        background: var(--corActive);
    }
}

.tooltip-exp2, .tooltip-imp2 {
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    background: var(--corActive);
    width: 170px;
    color: var(--corBg);
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.tooltip-exp2 {
    left: 28% !important;
    transform: translateX(-30%);
}

.tooltip-imp2 {
    left: 30% !important;
    transform: translateX(-30%);
}


.tooltip-exp2.visible, .tooltip-imp2.visible {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1400px) {
    .tooltip-exp2 {
        top: 85px !important;
        height: 30px;
        left: 36.5% !important;
        transform: translateX(-30%);
    }

    .tooltip-imp2 {
        top: 85px !important;
        height: 30px;
        left: 40% !important;
        transform: translateX(-30%);
    } 
}

@media screen and (max-width: 2000px) {
    .tooltip-exp2 {
        top: 110px;
        height: 30px;
    }

    .tooltip-imp2 {
        top: 110px;
        height: 30px;
    }
}

.tooltip-exp2, .tooltip-imp2 {
    transition: opacity 0.3s ease-in;
    opacity: 0;
    visibility: hidden; 
}



.top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.btn-cadastrar-produto {
    width: 200px;
    height: 30px;
    font-size: 14px;
    background: var(--corPrincipal);
    color: var(--corBg);
    cursor: pointer;
    border-radius: 30px;
    border: none;

    &:hover {
        background: var(--corHover);
    }
    &:active {
        background: var(--corActive);
    }
}

.area-filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-filtro-lb {
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
}

.btn-filtro-lb span {
    margin-left: 5px;
}

#filtroProdutos {
    display: flex;
    width: 200px;
    font-size: 14px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    border: 1.5px solid var(--corPrincipal);
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
}

.produtos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
    margin-bottom: 1rem;
    flex-grow: 1; 
}

.produtos-container h2 {
    color: var(--corPrincipal);
    margin-top: 20px;
    text-align: center;
  }
  

.produto-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s ease;
    background: var(--corBg);
    border-radius: 10px;
    border: 1px solid var(--corPrincipal) 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
        transform: translateY(-3px);
    }
}

.top-info-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.img-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.img-produto img {
    width: 100%;
}

.nome-produto {
    font-size: 18px;
    margin-left: 2%;
}

.bottom-info-produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1%;
    min-width: 250px;
}

.preco-produto {
    font-size: 18px;
    font-weight: 1000;
    color: var(--corPrincipalMaisClara);
}

.status-juros {
    font-size: 13px;
    color: green;
    font-weight: 500;
    margin-bottom: 5px;
}

.quantidade-disponivel-prod {
    font-size: 14px;
}

.quant-prod {
    font-size: 15px;
    font-weight: 800;
    margin-left: 5px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;  
    text-align: center;
}

.btn-i2 {
    width: 140px;
    height: 28px;
    font-size: 13px;
    border-radius: 30px;
    background: var(--corPrincipal);
    border: none;
    color: var(--corBg);
    cursor: pointer;

    &:hover {
        background: var(--corHover);
    }
    &:active {
        background: var(--corActive);
    }
}

.btn-excluir {
    background: rgb(199, 38, 38);

    &:hover {
        background: rgb(172, 31, 31);
    }

    &:active {
        background: rgb(151, 26, 26);
    }
}

.quantidade-disponivel-prod-esgotado {
    font-size: 14px;
    color: rgb(199, 38, 38);
}

.quant-prod-esgotado {
    font-size: 15px;
    font-weight: 800;
    margin-left: 5px;
}
