* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}

:root {
    --corPrincipal: #124559;
    --corHover: #123745;
    --corActive: #0B222B;
    --corPrincipalClara: #1D6987;
    --corPrincipalMaisClara: #2B8EB5;
    --corBg: #fff;
    --corBg2: #F2F7F9;
}

.tornar-disponivel-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    z-index: 2000;
}

.panel-tornar-disponivel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 2001;
    width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in;
}

.btn-numerico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    gap: 5px;
    margin-bottom: 2%;
}

.btn-sub, .btn-soma {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: var(--corPrincipal);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 20px;

    &:hover {
        background: var(--corHover);
    }
    &:active {
        background: var(--corActive);
    }
}

.campo-btn-numerico {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--corPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.btn-group-pfd {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-cancelar-ptd {
    width: 120px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: var(--corBg2);
    cursor: pointer;
    color: var(--corPrincipal);
    font-size: 15px;
    font-weight: 600;

    &:hover {
        color: var(--corHover);
    }
    &:active {
        color: var(--corActive);
    }
}

.btn-tornar-disponivel {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    font-weight: 600;
    outline: none;
    background: var(--corPrincipal);
    color: var(--corBg);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--corHover);
    }
    &:acitve {
        background: var(--corActive);
    }
}