
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}

:root {
    --corPrincipal: #124559;
    --corHover: #123745;
    --corActive: #0B222B;
    --corPrincipalClara: #1D6987;
    --corPrincipalMaisClara: #2B8EB5;
    --corBg: #fff;
    --corBg2: #F2F7F9;
}

.confirmar-envio-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    z-index: 2000;
}

.panel-confirmar-envio {
    position: relative;
    z-index: 2001;
    width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in;
}

  .panel-tornar-indisponivel p {
    width: 95%;
  }
  
  .btn-group-pcen {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 1%;
    justify-content: space-between;
  }
  
  .popup-actions .btn-confirmar-envior {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .popup-actions .btn-cancelar {
    background: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancelar {
    width: 120px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: var(--corBg2);
    cursor: pointer;
    color: var(--corPrincipal);
    font-size: 15px;
    font-weight: 600;

    &:hover {
        color: var(--corHover);
    }
    &:active {
        color: var(--corActive);
    }
  }

  .btn-confirmar {
    width: 120px;
    height: 30px;
    border-radius: 30px;
    font-weight: 600;
    outline: none;
    background: var(--corPrincipal);
    color: var(--corBg);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--corHover);
    }
    &:acitve {
        background: var(--corActive);
    }
  }

  .btn-confirmar-envio-popup {
    width: 120px;
    height: 30px;
    border-radius: 30px;
    font-weight: 600;
    outline: none;
    background: var(--corPrincipal);
    color: var(--corBg);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--corHover);
    }
    &:acitve {
        background: var(--corActive);
    }
  }