@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --corPrincipal: #124559;
    --corHover: #123745;
    --corActive: #0B222B;
    --corPrincipalClara: #1D6987;
    --corPrincipalMaisClara: #2B8EB5;
    --corBg: #fff;
    --corBg2: #F2F7F9;
}

body {
    margin: 0;
    min-height: 100vh;
    background: var(--corBg);
    overflow-y: auto;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro {
    width: 50vw;
    height: 100vh;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.left-cadastro .titulo {
    color: var(--corPrincipal);
    font-size: 40px;
    margin-top: 2%;
    font-weight: 800;
    padding-left: 10%;
    padding-top: 4%;
}

.left-cadastro .lbtxt {
    font-size: 22px;
    padding-left: 10%;
}

.left-cadastro .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 2%;
    margin-left: 15%;
}

.right-cadastro {
    width: 50vw;
    min-height: 120vh;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

.panel-cadastro {
    display: flex;
    width: 80%;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-cadastro h3 {
    font-size: 22px;
    font-weight: 800;
    color: var(--corPrincipal);
    margin-bottom: 10px;
    margin-top: 20px;
}

form {
    width: 95%;
    height: 100%;
}

.input-cadastro {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    background: var(--corBg);
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--corPrincipal);
    box-shadow: var(--corPrincipal) 0px 4px 4px -1px, var(--corPrincipal) 0px 2px 2px -1px;
    margin: 0;
    margin-bottom: 20px;
}

.campotxt:focus {
    outline: none; 
}

.campotxt {
    width: 93%;
    margin-left: 2%;
    font-size: 18px;
    border: none;
    background: transparent;
    padding: 1%;
}

.input-cadastro select {
    width: 100%;
    color: rgb(0, 0, 0);
    height: 100%;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding-left: 2%;
}

.div-select {
    margin-bottom: 30px;
}

.endereco-campos {
    display: flex;
    width: 100%;
    padding: 1%;
    flex-direction: column;
}

.endereco-dados {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
}

.endereco-left {
    display: flex;
    width: 50%;
    padding-right: 1.5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endereco-left input {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    border: none;
    background: var(--corBg);
    border-radius: 30px;
    border: 1px solid var(--corPrincipal);
    box-shadow: var(--corPrincipal) 0px 4px 4px -1px, var(--corPrincipal) 0px 2px 2px -1px;
    outline: none;
}

.endereco-right {
    display: flex;
    width: 50%;
    padding-left: 1.5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endereco-right input {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 50px;
    max-height: 50px;
    border: none;
    font-size: 18px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    background: var(--corBg);
    border-radius: 30px;
    border: 1px solid var(--corPrincipal);
    box-shadow: var(--corPrincipal) 0px 4px 4px -1px, var(--corPrincipal) 0px 2px 2px -1px;
    outline: none;
}

.btn-cadastro {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 50px;
    padding: 0 2rem;
    text-align: center;
    border-radius: 1.5rem;
    background: var(--corActive);
    background-size: 400%;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .btn-cadastro:hover::before {
    transform: scaleX(1);
  }
  
  .btn-cadastro-content {
    position: relative;
    z-index: 1;
    font-size: 22px;
    color: var(--corBg);;
  }
  
  .btn-cadastro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      var(--corPrincipal) 10.8%,
      var(--corPrincipalClara) 94.3%
    );
    transition: all 0.475s;
  }
  

.alt {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.alt p {
    font-size: 18px;
    font-weight: 500;
}

.alt a {
    color: var(--corPrincipal);
    font-weight: 700;
    cursor: pointer;

    &:hover {
        color: var(--corHover);
    }
    &:active {
        color: var(--corActive);
    }
}

@media screen and (min-width: 1699px) {
    .panel-cadastro {
        margin-top: 10%;
    }

    .right-cadastro {
        margin: 0;
    }
}

@media screen and (max-width: 1400px) {
    .panel-cadastro {
        margin-top: 35%;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow: auto;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 40%;
        min-height: 160vh;
    }

    .left-cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30%;
        margin-bottom: 20px;
        padding: 2%;
    }


    .left-cadastro .titulo {
        font-size: 32px;
        margin: 0;
        padding: 0;
    }

    .left-cadastro .lbtxt {
        padding: 0;
    }

    .left-cadastro .imagem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-bottom: 0;
        
    }

    .right-cadastro {
        margin-top: 25%;
        width: 100%;
    }

    .endereco-campos {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .endereco-left, .endereco-right {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .input-cadastro {
        width: 100%;
    }

    .endereco-left input {
        padding: 6%;
    }

    .endereco-right input {
        padding: 6%;
    }

    .endereco-dados {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #campoEndereco {
        padding: 2%;
    }

    .alt {
        margin-bottom: 30px;
    }
}
