@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --corPrincipal: #124559;
  --corHover: #123745;
  --corActive: #0B222B;
  --corPrincipalClara: #1D6987;
  --corPrincipalMaisClara: #2B8EB5;
  --corBg: #fff;
  --corBg2: #F2F7F9;
}

body {
  height: 100vh;
  background: var(--corBg);
  overflow-x: hidden;
}

.home-content-cliente {
  width: 95%;
  height: auto;
  padding: 10px;
  background-color: var(--corBg);
  color: var(--corPrincipal);
  margin: 0 auto;
}

.home-content-cliente h2 {
  font-size: 22px;
  color: var(--corPrincipal);
  margin-bottom: 20px;
}

.home-content-cliente h3 {
  font-size: 20px;
  margin-bottom: 0;
}


.registros-compras-cliente {
  width: 100%;
}

.top-rcc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.3%;
  width: 100%;
  margin-bottom: 1%;
}

#btnVerMais {
  width: 110px;
  height: 30px;
  font-size: 15px;
  margin-top: 1%;
  border-radius: 30px;
  background: var(--corPrincipal);
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:hover {
      background: var(--corHover);
  }
  &:active {
      background: var(--corActive);
  }
}

.panel-cards-rcc {
  margin-top: 2%;
  width: 100%;
  padding: 2%;
  background: var(--corBg2);
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rcc-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin-bottom: 10px;
  height: 150px;
  border-radius: 10px;
  background: var(--corBg);
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:hover {
      transform: translateY(-2px);
  }
}

.lista-itens-pedido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.left-lista-itens-pedido {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  gap: 30px;
  width: 50%;
  text-align: left;
  margin-top: -0.5%;
}

.valor-item-pedido {
  width: 30%;
}

.right-lista-itens-pedido {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  gap: 30px;
  width: 50%;
  text-align: left;
  margin-top: -1.7%;
}

.valor-item-pedido {
  width: 30%;
}

.valor-total-pedido {
  font-weight: 700;
  margin-top: -10px;
}

/* Configs do carrossel */
.product-carousel-container {
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
  align-self: center;
  margin-top: -2%;
  height: 400px;
}


.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 90%!important;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.product-info {
  margin-top: 10px;
}

.product-name {
  font-size: 18px;
  color: var(--corPrincipal);
}

.product-price {
  font-size: 16px;
  color: var(--corPrincipalMaisClara);
  font-weight: bold;
}

.product-juros {
  font-size: 14px;
  color: var(--corPrincipalClara);
}

.carousel-products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2%;
  padding-right: 0;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  background-color: var(--corPrincipal);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  transition: all 300ms ease;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
}

.slick-prev {
  left: -55px; 
}

.slick-next {
  right: -60px; 
}

@media screen and (max-width: 1499px) {
  .slick-prev {
    left: -50px; 
  }
  
  .slick-next {
    right: -50px; 
  }
}

.slick-arrow:hover {
  background-color: var(--corHover);
  color: white;
}

.slick-arrow:active {
  background-color: var(--corActive);
}

.slick-prev:before,
.slick-next:before {
  content: '';
}
